<div class="app-container">
  <div class="map">
    <div class="teams">
      <div class="team" ng-repeat="team in teams">
        <div class="box-color p-a {{team.avatar}}-bg">
            <div class="pull-left m-r">
              <img class="w-40" ng-src="../assets/images/{{team.avatar}}.png"></img>
            </div>
            <div class="clear text-center">
                <h4 class="m-a-0 text-md"><a href="">{{team.membersNumber}} <span class="text-sm">Members</span></a></h4>
            </div>
            <div class="clear text-center">
              <small class="text-muted" ng-bind="team.name"></small>
            </div>
        </div>
      </div>
    </div>
    <dashboardmap></dashboardmap>
  </div>
  <div class="map-aside">
      <div ui-include="'angular/templates/dashboard.user.html'"></div>
      <div ui-include="'angular/templates/dashboard.steps.html'"></div>
  </div>
</div>
