<div class="app-container">
  <div class="map">
    <dashboardmap></dashboardmap>
  </div>
  <div class="map-aside">
    <div class="box">
      <div class="box-header">
        <h3>My Gyms</h3>
      </div>
      <div class="box-divider m-a-0"></div>
      <ul class="list no-border">
        <li class="list-item" ng-repeat="gym in gyms">
          <a herf="" class="pull-left m-r"><span class="w-40"><img src="../assets/images/unova_gym.png" class="w-full" alt="..."></span></a>
          <div class="clear">
            <a href="" class="_500 text-ellipsis" ng-bind="gym.name">San Juan de Guadalupe</a>
            <small class="text-muted" ng-bind="gym.members">Home</small>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
