<div class="box" ng-hide="user">
  <div class="item">
      <div class="item-bg">
        <img class="avatar-full" og:image src="../assets/images/pokemon-go-teams.jpg" class="blur">
      </div>
      <div class="p-a-lg pos-rlt text-center">
        <img src="../assets/images/pokeball.png" class="img-circle w-56" style="margin-bottom: -7rem">
      </div>
  </div>
  <div class="p-a-md text-center">
  </p><a href="" class="text-md block">PokemonGrind</a>
      <p><small>Meet other pokemon masters and conquer all gyms</small></p>
      <!--
        <div><a href="" class="btn btn-icon btn-social rounded white btn-sm"><i class="fa fa-facebook"></i> <i class="fa fa-facebook indigo"></i></a> <a href="" class="btn btn-icon btn-social rounded white btn-sm"><i class="fa fa-twitter"></i> <i class="fa fa-twitter light-blue"></i></a> <a href="" class="btn btn-icon btn-social rounded white btn-sm"><i class="fa fa-google-plus"></i> <i class="fa fa-google-plus red"></i></a></div>
      -->
  </div>
  <div class="box-divider m-a-0"></div>
  <ul class="list box">
    <li class="list-item">
      <div class="list-left">
        <span class="w-40 circle danger avatar">1</span>
      </div>
      <div class="list-body">
        <div class="inline">
          <span class="_500">Pledge your alliance</span>
          <small class="block text-muted">Select the team you have join in PokemonGo.</small>
        </div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-left">
        <span class="w-40 circle blue avatar">2</span>
      </div>
      <div class="list-body">
        <div class="inline">
          <span class="_500">Make a stand</span>
          <small class="block text-muted">Choose the Pokemon Gyms close to your home you want to battle.</small>
        </div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-left">
        <span class="w-40 circle warn avatar">3</span>
      </div>
      <div class="list-body">
        <div class="inline">
          <span class="_500">Meet your kind</span>
          <small class="block text-muted">Get in contact with other pokemon masters near you and coordinate battles in the Gyms.</small>
        </div>
      </div>
    </li>
  </ul>
</div>
