<div class="box" ng-hide="user">
  <div class="item">
      <div class="item-bg">
        <img class="avatar-full" og:image src="../assets/images/pokemon-go-teams.jpg" class="blur">
      </div>
      <div class="p-a-lg pos-rlt text-center">
        <img src="../assets/images/pokeball.png" class="img-circle w-56" style="margin-bottom: -7rem">
      </div>
  </div>
  <div class="p-a-md text-center">
  </p><a href="" class="text-md block">PokemonGrind</a>
      <p><small>Conoce a otros jugadores cercanos a ti y organizate para conquistar gimnasios</small></p>
      <!--
        <div><a href="" class="btn btn-icon btn-social rounded white btn-sm"><i class="fa fa-facebook"></i> <i class="fa fa-facebook indigo"></i></a> <a href="" class="btn btn-icon btn-social rounded white btn-sm"><i class="fa fa-twitter"></i> <i class="fa fa-twitter light-blue"></i></a> <a href="" class="btn btn-icon btn-social rounded white btn-sm"><i class="fa fa-google-plus"></i> <i class="fa fa-google-plus red"></i></a></div>
      -->
  </div>
  <div class="box-divider m-a-0"></div>
  <ul class="list box">
    <li class="list-item">
      <div class="list-left">
        <span class="w-40 circle danger avatar">1</span>
      </div>
      <div class="list-body">
        <div class="inline">
          <span class="_500">Unete a un equipo</span>
          <small class="block text-muted">Selecciona el equipo con el cual juegas PokemonGo.</small>
        </div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-left">
        <span class="w-40 circle blue avatar">2</span>
      </div>
      <div class="list-body">
        <div class="inline">
          <span class="_500">Escoge tus gimnasios</span>
          <small class="block text-muted">Unete a los gymnasios cercanos a ti, o aquellos que quieres frecuentar.</small>
        </div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-left">
        <span class="w-40 circle warn avatar">3</span>
      </div>
      <div class="list-body">
        <div class="inline">
          <span class="_500">Conoce a otros jugadores</span>
          <small class="block text-muted">Ponte en contacto con otros jugadores y planea visitas a gymnaisos.</small>
        </div>
      </div>
    </li>
  </ul>
</div>
