<div class="dropdown-menu pull-down p-a w-full text-color text-primary-hover">
  <div class="row">
    <div class="col-sm-4">
      <div class="_600 text-u-c m-y-sm">Section #1 <span class="label label-sm success">10</span></div>
      <div class="row">
        <div class="col-xs-6">
          <ul class="nav l-h-2x">
            <li class="hide" ng-class="{'show': 1}">
              <a href="#"><span>Option #1</span></a>
            </li>
            <li>
              <a href="#"><span>Option #2</span></a>
            </li>
            <li>
              <a href="#"><span>Option #3</span></a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="nav l-h-2x">
            <li>
              <a href="#"><span>Option #4</span></a>
            </li>
            <li>
              <a href="#"><span>Option #5</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="_600 text-u-c m-y-sm">Section #2 <span class="label label-sm">12</span></div>
      <div class="row">
        <div class="col-xs-6">
          <ul class="nav l-h-2x">
            <li>
              <a href="#">
                <span>Option #1</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Option #2</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="nav l-h-2x">
            <li>
              <a href="#">
                <span>Option #3</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Option #4</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="_600 text-u-c m-y-sm">Section #3</div>
      <ul class="nav l-h-2x">
        <li>
          <a href="#"><span>Option #1</span></a>
        </li>
        <li>
          <a href="#"><span>Option #2</span></a>
        </li>
        <li class="hide" ng-class="{'show': 1}">
          <a href="#"><span>Option #3</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
      <div class="_600 text-u-c m-y-sm">Section #4</div>
      <ul class="nav l-h-2x">
        <li>
          <a href="#"><span>Option #1</span></a>
        </li>
        <li>
          <a href="#"><span>Option #2</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
