.valor-bg {
  background-color: #3e0200;
  color: #ffffff;
}

.instinct-bg {
  background-color: #2c2c2c;
  color: #ffffff;
}

.mystic-bg {
  background-color:  #00274e;
  color: #ffffff;
}

.avatar.square img {
  border-radius: 0px!important;
}

.item-bg img.avatar-center {
  position: relative;
  left: auto;
  top: auto;
  margin: auto;
  width: 128px;
}

.item-bg img.avatar-full {
  position: relative;
  left: auto;
  top: auto;
  margin: auto;
  width: 100%;
}


.avatar span.label.bottom {
  position: absolute;
  bottom: 0px;
  right: -.5rem;
}


.teams {
  display: flex;
  flex-flow: row wrap;
}

.teams .team {
  width: 33.3%;
}

.teams .team .box-color {
  padding: 1rem;
  margin-bottom: 0px;
}
