<h3>Foro</h3>
<div class="alert alert-info" role="alert">
  <h6>Como funciona?</h6>
  <ol>
    <li>Deja un comentario inicial( ejemplo: &quot;vamos a por el!&quot; o simplemente &quot;.&quot; ) para seguir al tanto de la conversación en Facebook.</li>
    <li>Si deseas conversar con un jugador, da reply a su comentario para que este sea notificado via Facebook.</li>
  </ol>
  <span class="text-mute"><strong>Nota:</strong> Estamos trabajando en el desarrollo de un foro propio, por lo pronto estamos ayudandonos de Facebook.</span>
</div>
<div id="fb-comment-widget">
  <div class="fb-comments" data-width="100%" data-numposts="15"></div>
</div>
