<section class="map-container">
	<ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events" options="map.options"  control="map.control">

		<ui-gmap-marker ng-repeat="marker in markers" idKey="marker.id" coords="marker" options="selectedMarkerStyle">
      <ui-gmap-window show="marker.show" options="marker.options"
		      templateUrl="selectedMarkerStyle.popupTemplateUrl"
		      templateParameter="marker"
		      ng-cloak="ng-cloak">
      </ui-gmap-window>
    </ui-gmap-marker>

		<ui-gmap-marker coords="gym"  idKey="gym.fakeId" options="gym.options">
		</ui-gmap-marker>
	</ui-gmap-google-map>

	<div class="btn-float">
		<button ng-click="findMe()" class="md-btn md-fab m-b-sm blue">
			<i class="material-icons md-24">&#xe1b3;</i>
		</button>

		<button ng-click="addGym()" ng-show="user" class="md-btn md-fab m-b-sm pink">
			<img style="width: 2rem; height: 2rem;" src="../assets/images/unova_gym_white.png">
		</button>
	</div>

	<div class="box floating" ng-show="selecting">
		<div class="box-header">
			<h3>New Gym</h3>
			<div class="box-tool">
				<ul class="nav">
					<li class="nav-item inline">
						<a class="nav-link" ng-click="cancel()"><i class="material-icons md-18">&#xe888;</i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="box-divider m-a-0"></div>
		<form class="" role="form" ng-submit="submitGym()">
			<div class="box-body">
				<div class="form-group">
					<label for="gymName">Gym Name</label>
					<input ng-model="gym.name" class="form-control" id="gymName" placeholder="Gym Name" type="text" required>
				</div>
				<div class="form-group" ng-show="locationError">
					<div class="alert alert-danger alert-dismissible" role="alert" type="danger">
						<span>Please provide the gym location on the map.</span>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn white primary pull-right m-b">Submit</button>
				</div>
			</div>
		</form>
	</div>
</section>
