<section class="map-container">
	<ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events" options="map.options">

		<ui-gmap-marker ng-repeat="marker in markers" idKey="marker.id" coords="marker" options="gymMarkerStyle[team]">
      <ui-gmap-window show="marker.show" options="marker.options"
		      templateUrl="gymMarkerStyle[team].popupTemplateUrl"
		      templateParameter="marker"
		      ng-cloak="ng-cloak">
      </ui-gmap-window>
    </ui-gmap-marker>

		<ui-gmap-marker coords="gym"  idKey="gym.fakeId" options="gym.options">
		</ui-gmap-marker>
	</ui-gmap-google-map>

	<button ng-click="addGym()" ng-show="user" class="md-btn md-fab m-b-sm pink btn-float"><i class="material-icons md-24">&#xe84f;</i></button>

	<div class="box floating" ng-show="selecting">
		<div class="box-header">
			<h3>New Gym</h3>
			<div class="box-tool">
				<ul class="nav">
					<li class="nav-item inline">
						<a class="nav-link" ng-click="cancel()"><i class="material-icons md-18">&#xe888;</i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="box-divider m-a-0"></div>
		<form class="form-inline" role="form" ng-submit="submitGym()">
			<div class="box-body">
				<div class="form-group">
					<label for="gymName">Gym Name</label>
					<input ng-model="gym.name" class="form-control" id="gymName" placeholder="Gym Name" type="text" required>
					<!-- <p class="help-block">Example block-level help text here.</p> -->
				</div>
				<div class="form-group">
					<label for="gymLevel">Gym Level</label>
					<input ng-model="gym.level" class="form-control" id="gymLevel" placeholder="Gym Level" type="number">
				</div>
			</div>
			<div class="box-divider m-a-0"></div>
			<div class="box-body">
				<p class="m-b btn-groups" style="float:right">
					<button type="submit" class="btn white m-b primary">Submit</button>
				</p>
			</div>
		</form>
	</div>
</section>
